/*=========================
	Type
  =========================*/
body {
	font-family: 'Futura Std', 'Futura', sans-serif;
	font-size: 1.375rem;
	color: $black;
}

h1 {
	font-size: 2.75rem;
	font-weight: bold;
	line-height: 4rem;
}

.students .student p {text-align: center;}